@keyframes textAnim {
  0% {
    bottom: -80px;
  }
  30% {
    bottom: 0;
  }

  60% {
    bottom: 0;
  }
  100% {
    bottom: 80px;
  }
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-40px);
  }
  45% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(-85px);
  }
  60% {
    transform: translateY(-85px);
  }
  90% {
    transform: translateY(-130px);
  }
  100% {
    transform: translateY(-130px);
  }
}

body {
  background-color: #34495e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 30px;
}

p {
  margin: 0;
}

.wrapper {
  display: flex;
  overflow: hidden;
  height: 35px;
  position: relative;
}

.inner-text {
  /* margin-left: 20px;
  position: absolute;
  bottom: -80px;
  z-index: 9999; */
  margin: 0;
}

/* .text-1 {
  bottom: 0;
  animation: textAnim1 5s linear 2s infinite alternate;
}
.text-2 {
  animation: textAnim 5s linear 4s infinite alternate;
}
.text-3 {
  animation: textAnim 5s linear 6s infinite alternate;
} */

.anim {
  animation: anim 5s linear 0s infinite alternate;
}
